.upper-canvas{
  border: 1px solid black;
}
footer, header {
  display: flex;
  position: relative;
  height: 100px;
  /*width: 100%;*/
  left: 0;
  align-items: center;
  justify-content: center;
  //box-sizing: border-box;
  //background: white;
  //border: 1px solid black;
}

header {
  top: 0;
  z-index: 2;

}

header.well{
	width: 400px;
	height: 0px;
	margin: 0 auto;
}


ul#side, ul#top, ul#bottom {
  height: 40px;
  /*border: 1px solid black;*/
  /*border-radius: 7px;*/
  margin: 0 auto;
}
ul#side li, ul#top li , #bottom li{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  /*border-right: 1px solid #888;*/
  transition: background 0.5s;
  margin: 0 auto;
  margin-left: 5px;
}


ul#side li:hover, ul#top li:hover {
  background: #aaa;
  cursor: pointer;
}

li#zoom article::before {
  width: 15px;
  height: 15px;
  content: '';
  position: absolute;
  left: 20px;
  top: -15px;
  box-sizing: border-box;
  border-bottom: 15px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  color:yellow;
}

li#zoom article {
  display: none;
  width: auto;
  height: auto;
  position: absolute;
  margin-top: 10px;
  margin-left: -20px;
  background: white;
  box-sizing: border-box;
  padding: 5px 20px;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 0 0 10px #eee;
  cursor: default;
  z-index: 3;
  color: black !important;
}

.ops{
	cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.poppable {
  display: none;
  width: 320px;
  height: auto;
  position: absolute;
  margin-top: -70px;
  margin-left: 40px;
  background: white;
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 0 0 10px #eee;
  cursor: default;
  z-index: 3;
}
.poppable::before {
  width: 30px;
  height: 30px;
  content: '';
  position: absolute;
  left: -30px;
  top: 30px;
  box-sizing: border-box;
  border-right: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

		.footer {
			padding: 70px 0;
			margin-top: 70px;
			border-top: 1px solid #E5E5E5;
			background-color: whiteSmoke;
			}			
	      body {
	        padding-top: 60px;	        
	      }
	      .color-preview {
	      	border: 1px solid #CCC;
	      	margin: 2px;
	      	zoom: 1;
	      	vertical-align: top;
	      	display: inline-block;
	      	cursor: pointer;
	      	overflow: hidden;
	      	width: 20px;
	      	height: 20px;
	      }
	      .rotate {  
		    -webkit-transform:rotate(90deg);
		    -moz-transform:rotate(90deg);
		    -o-transform:rotate(90deg);
		    /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
		    -ms-transform:rotate(90deg);		   
		}		
		.Arial{font-family:"Arial";}
		.Helvetica{font-family:"Helvetica";}
		.MyriadPro{font-family:"Myriad Pro";}
		.Delicious{font-family:"Delicious";}
		.Verdana{font-family:"Verdana";}
		.Georgia{font-family:"Georgia";}
		.Courier{font-family:"Courier";}
		.ComicSansMS{font-family:"Comic Sans MS";}
		.Impact{font-family:"Impact";}
		.Monaco{font-family:"Monaco";}
		.Optima{font-family:"Optima";}
		.HoeflerText{font-family:"Hoefler Text";}
		.Plaster{font-family:"Plaster";}
		.Engagement{font-family:"Engagement";}

.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    margin:5px 10px 0px 0px;
}

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    margin:5px 10px 0px 0px;

}

.left-panel{
	width: 40%;

}

.left-panel button{
	vertical-align: top;
	padding-bottom: 4px;
}

#addText h6{
	display: inline-block;
	vertical-align: top;
}

#addText input{
	vertical-align: top;
	padding-top: 0px;
}

#addText #selectFont, #selectSize{
	max-width: 40%;
	display: inline-block;
	margin-left: 5px;
	max-height: 70%;
	padding-top: 0px;
	padding-bottom: 0px;
}

#addText #selectSize{
	max-width: 15%;
	max-height: 100%;
	height: 30px;
}


.tab-content{
  /*max-width: 100%;*/
  width: 110%;
  /*display: inline-block;*/
}

.pill-selected{
	background: white; 
}

.sizes-list-names li{
	/*margin-left: 10	px;*/
	margin-right: 20px;
}

.sizes-list-names li input{
	margin-left: 5px;
	max-width: 50px;
}

#disabled-total{
	max-width: 50px;
}